body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099ff;
}

/* C-Space */

.cspace_select {
  width: 40%;
}

.paper_css{
  width: 40%;
  margin-top: 3;
  overflow-x: auto;
}
.table_css{
   min-width: 650;
}

.logo_div_css {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* C-Space Zones*/
.exp_heading{
  font-weight: bold;
  font-size: larger;
}
.image_css{
  width:100%;
  height: 100%;
}
.data_css{
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 600;
  font-style: oblique;
}
